.sl-form {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .sl-form {
    margin: 0 auto;
  }
}

.sl-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.sl-form .form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.sl-form .form-group input:not([type="checkbox"]) {
  border: 1px solid #e0e4e6;
  display: block;
  padding: 10px 15px;
  width: 100%;
}

.sl-form .form-check {
  margin-bottom: 30px;
}

.sl-form .form-check label {
  color: #000;
}

.sl-form .form-check label a {
  color: #000;
}

.sl-form .form-check label a:hover {
  text-decoration: underline;
}

.sl-form .form-check input {
  margin-top: 8px;
}

.sl-form .btn {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sl-form .notice {
  color: #000;
}

.sl-form .notice a {
  color: #48b1ea;
}

.sl-form .notice a:hover {
  text-decoration: underline;
}